<div class="navbar-fixed mntop2">
    <nav class="white">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo left">RD</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down black">
                    <li class="{{ pages.profile }}"><a class="waves-effect waves-light" href="profile">Profil</a></li>
                    <li class="{{ pages.work }}"><a class="waves-effect waves-light" href="work">Projekte</a></li>
                    <li class="{{ pages.index }}"><a class="waves-effect waves-light" href="/">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>